<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Youtube Videos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe
    width="100%"
    height="250"
    src="https://www.youtube.com/embed/6kqe2ICmTxc"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/6kqe2ICmTxc"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/6kqe2ICmTxc"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/6kqe2ICmTxc"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/6kqe2ICmTxc"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/6kqe2ICmTxc"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
